form {
  max-width: 350px;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 5em;
  margin-top: 0;
}

header {
  background-color: #293444;
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  font-size: 25px;
  margin-top: 0;
  padding: 1em;
  margin-bottom: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
}

h4 {
  text-align: center;
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
}

.legend {
  width: 100%;
}

p {
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

label {
  font-family: 'Barlow Condensed', sans-serif;
}

fieldset {
  border: none;
}

.intro {
  text-align: center;
  font-size: 22px;
  padding-bottom: 1em;
  border-bottom: 5px solid #293444;
  margin-bottom: 0;
}

.info {
  border-top: 2px solid #293444;
  padding-top: 1em;
  margin-top: 3px;
}

input {
  margin-top: 1em;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-bottom: 1em;
  font-family: 'Barlow Condensed', sans-serif;
}

select {
  margin-top: 1em;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-bottom: 1em;
  width: 98%;
  font-family: 'Barlow Condensed', sans-serif;
}

.zip {
  margin-top: 1em;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-bottom: 1em;
  width: 40%;
}

.other {
  margin-top: 2em;
}

textarea {
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Barlow Condensed', sans-serif;
}

button {
  background-color: darkturquoise;
  border-radius: 5px;
  border: none;
  padding: 15px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
}

.typing {
  width: 90%;
}

.copyright {
  text-align: center;
  color: darkgray;
  margin-bottom: 10em;
  font-family: 'Barlow Condensed', sans-serif;
}

@media (min-width: 760px) {

  form {
    max-width: 50%;
  }

  label {
    margin-top: 30px;
  }

  label,
  input {
    display: inline-block;
  }

  input {
    text-align: right;
  }

  .float {
    float: right;
  }

  .typing {
    width: 60%;
  }

  select {
    width: 66%;
  }


  .label {
    clear: both;
    vertical-align: top;
  }

  select {
    float: right;
    clear: both;
    margin-top: -30px;
  }

  .zip-code {
    margin-top: 4em;
    float: left;
  }

  .zip {
    margin-left: 90px;
    display: inline-block;
  }

  .the-zip {
    width: 30%;
    margin-right: 0;
  }

  #zip {
    float: right;
  }

  #topics {
    width: 95%;
  }

}
